<% title "Task #{@task.id}" %>

<p>
  <b>Package:</b>
  <%= render @task.package %>
</p>

<p>
  <b>Type:</b>
  <%= render @task.type %>
</p>

<p>
  <b>Status:</b>
  <%= render @task.status %>
</p>


<% if can? :update, @task %>
<%= link_to 'Edit', edit_task_path(@task) %> |
<% end %>
<%= link_to 'Back', tasks_path %>
