<p id="notice"><%= notice %></p>

<p>
  <b>Package:</b>
  <%= render @task.package %>
</p>

<p>
  <b>Type:</b>
  <%= render @task.type %>
</p>

<p>
  <b>Status:</b>
  <%= render @task.status %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
