<%= simple_form_for(@batch) do |f| %>
  <%= f.input :name %>

  <%= f.association :batch_type, :default => 1 %>

  <% unless f.object.new_record? %>
    <%= f.association :status, :default => 1 %>
  <% end %>

  <%= f.association :server, :default => 1 %>

  <%= f.input :oral_history, :as => :radio_buttons %>
  <%= f.input :dark_archive, :as => :radio_buttons %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
