<% title "Batches" %>
<%= show_title %>

<%= paginate @batches %>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Type</th>
    <th>Server</th>
    <% if can? :edit, Batch %>
    <th></th>
    <% end %>
    <% if can? :destroy, Batch %>
    <th></th>
    <% end %>
  </tr>

<% @batches.each do |batch| %>
  <tr>
    <td><%= link_to batch.name, batch %>
        <% if batch.failures.to_i > 0 %>
          <%= '(' + batch.failures.to_s + ')' %>
        <% end %>
    </td>
    <td><% if batch.done? %>
      <span class="label label-success">done</span>
    <% else %>
      <%= render batch.status %>
    <% end %>
    </td>
    <td><%= render batch.batch_type %></td>
    <td><%= render batch.server %></td>
    <% if can? :edit, Batch %>
    <td><%= link_to 'Edit', edit_batch_path(batch) %></td>
    <% end %>
    <% if can? :destroy, Batch %>
    <td><%= link_to 'Destroy', batch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if can? :manage, Batch and @batches.count < 25 %>
<%= link_to 'New Batch', new_batch_path %>
<% end %>
