<% title "Batch #{@batch.name}" %>
<%= show_title %>

<p>
  <b>Name:</b>
  <%= @batch.name %>
</p>

<p>
  <b>Status:</b>
  <%= render @batch.status %>
</p>

<p>
  <b>Discussion link:</b>
  <%= link_to @batch.discussion_link, @batch.discussion_link %>
</p>

<p>
  <b>Server:</b>
  <%= render @batch.server %>
</p>

<p>
  <b>Batch type:</b>
  <%= batch_type(@batch) %>
</p>

<h2>Packages</h2>
<%= render 'packages/index' %>

<% if can? :update, @batch %>
<%= link_to 'Edit', edit_batch_path(@batch) %> |
<% end %>
<%= link_to 'Back', batches_path %>
